* {margin: 0;}
#wrapper {
    margin: auto;
    height: auto;
    width: 1000px;
    overflow: auto;
}
.contact {
    padding-top: 5px;
    display: flex;
    background: url(../images/background.jpg);
    justify-content: center;
}
.contact h1 {
    width: 250px;
    font-size: 3em;
}
.contact h1 a {
    text-decoration: none;
    color: #13538c;
    padding-left: 0.5em;
}
.contact h3 {
    width: 166px;
    height: 30px;
    border-right: solid 1px whitesmoke;
    padding-left: 0.5em;
}
.contact h3 a {
    text-decoration: none;
    color: #13538c;
}
.contact ul {
    width: 250px;
    list-style-type: none;
}
.contact span {
    color: red;
}
nav ul {
    padding: 0;
    display: flex;
}
nav li { 
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    
}
nav li:hover {
    background-color: black;
    box-shadow: 5px 10px 10px crimson;
}
nav a {
    text-shadow: 2px 2px rgb(49, 45, 45);
    color: blanchedalmond;
    text-decoration: none;
    
}
marquee {
    color: red;
     text-shadow: 0 0 5px darkblue;;}
.Search {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.Search input {
    border: solid 1px;
    border-radius: 2em;
}
main {
    display: flex; 
}
aside {
    text-align: center;
    width: 320px;
}
aside h2 {
    text-align: left;
}
aside a {
    text-decoration: none;
    color: blue;
}
aside h2 {
    color: red;
    text-shadow: 2px 2px 2px rgb(49, 45, 45);
    border-bottom: solid red 5px;
}
aside image:hover {transform: scale(.75);}
.blockmain1 {
    width: 500px;
    display: inline;
    float: left;
}
.blockmain2 {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    margin-right: 5px;
    display: inline;
    padding: 0px 10px;
    width: 180px;
    line-height: 1em;
    color: purple;
}
.blockmain2 ul {
    padding: 0px;
    list-style: none;
    font-size: small;
}
section {
    width: 680px;
    margin: 27px 5px;
    max-height: 700px;

}
.blockmain3 {
    margin-top: 20px;
    border-top: 5px solid rgb(210, 194, 194);
}
.blockmain3 h1 {text-align: center; margin: 10px 0px;}
.blockmain3 video {
    width: 320px;
    height: 180px;
    margin-left: 13px;
}
.video2 {left: 3px; position: relative;}
.supplement li{
    text-align: left;
    border-bottom: 1px dotted orangered;
    line-height: 2em;
}
.blockmain3 a {
    left: 11px;
    position: relative;
}

footer {
    padding-top: 10px;
    color:   #d81528;
    display: flex;
    background: url(../images/footer.jpg);
}
footer div {
    width: 333px;
    
}
footer h2 {
    margin-left: 40px;
    color: whitesmoke;
}
footer ul {
    padding: 0;
    margin-top: 20px;
}
footer li {
    list-style-type: none;
    line-height: 2em;
    padding-left: 20px;
    margin-left: 40px;
    border-left: solid #141516 5px ;
}
footer a {
    text-decoration: none;
    color: #dc3545;
    text-shadow: 2px 2px 2px black;
}
footer a:hover {font-style: italic;}
li h2 {color: brown;
    font-size: small;
    border: none;
    font-style: italic;
}
.mail {color: black;}

.support-online { 
    position: fixed; 
    z-index: 999; 
    left: 10px; 
    bottom: 10px; }
.support-online a { 
  position: relative; 
  margin: 20px 10px; 
  text-align: left; 
  width: 40px; 
  height: 40px; }
.support-online i { 
  width: 40px; 
  height: 40px; 
  background: #066765; 
  color: #fff; 
  border-radius: 100%; 
  font-size: 20px; 
  text-align: center;
  line-height: 1.9; 
  position: relative; 
  z-index: 999; }
.support-online a span { 
  border-radius: 2px; 
  text-align: center; 
  background: yellow; 
  padding: 9px; 
  display: none; 
  width: 180px; 
  margin-left: 10px; 
  position: absolute; 
  color: #ffffff; 
  z-index: 999; 
  top: 0px;left: 40px; 
  transition: all 0.2s ease-in-out 0s; 
  -moz-animation: headerAnimation 0.7s 1; 
  -webkit-animation: headerAnimation 0.7s 1; 
  -o-animation: headerAnimation 0.7s 1; 
  animation: headerAnimation 0.7s 1; }
.support-online a:hover span { 
  display: block; }
.support-online a { 
  display: block; }
.support-online a span:after { 
  content: ""; 
  width: 0; 
  height: 0; 
  /*border-style: solid; */
  border-top: 12.5px solid transparent;
  border-left: 12.5px solid yellow;
  border-bottom: 12.5px solid transparent; 
/*  border-color: transparent rgb(103, 182, 52) transparent transparent; */
  position: absolute; 
  left: -10px; 
  bottom: 5px; }
.kenit-alo-circle-fill { 
  width: 60px; 
  height: 60px; 
  top: -10px; 
  position: absolute; 
  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out; -webkit-border-radius: 100%; 
  -moz-border-radius: 100%; border-radius: 100%; border: 2px solid transparent; 
  -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; 
  transition: all .5s; 
  background-color: #066765; 
  opacity: .75; 
  left: -10px; }
.kenit-alo-circle { 
  width: 50px; 
  height: 50px; 
  top: -5px; left: -5px; 
  position: absolute; 
  background-color: transparent; 
  -webkit-border-radius: 100%; 
  -moz-border-radius: 100%; border-radius: 100%; 
  border: 2px solid rgba(30, 30, 30, 0.4); 
  opacity: .1; border-color: #22c2bf; 
  opacity: .5; }
.support-online .btn-support { 
  cursor: pointer; }

